{% extends 'head.html' %}
{% load static %}
{% block header %}


<div class="about all_pad">
	<div class="container">
		<h3 class="title">About Test Details</h3>
		<div class="services-grids w3layouts">
			<div class="col-md-6 ser-right-page">
				<div class="port-2 effect-3">
                	<div class="image-box w3">
                    	<img src="{% static 'images/a1.jpg' %}" alt=" "/>
                    </div>
                    <div class="text-desc">
                    	<h4>{{test.title}}</h4>
                        <p>{{test.des}}</p>
                    </div>
                </div>
			</div>
			<div class="col-md-6 ser-left-page">
				<div class="services-grid w3l">
					<div class="services-left w3ls">
						<p>👉</p>
					</div>
					<div class="services-right agileits">
						<h4>{{test.title}}</h4>
						<p>{{test.des}}</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="services-grid agileinfo">
					<div class="services-left wthree">
						<p>👉</p>
					</div>
					<div class="services-right w3-agileits">
						<h4>Just started at : {{test.price}}</h4>
						<p>Test specialist : {{test.uid.name}} ({{test.uid.role}})</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<a href="{% url 'book-test' test.id %}"><button class="btn btn-primary" style="text-align: center; margin-left: 50px; margin-top: 100px; width: 300px;"><i class="fa fa-edit"></i> Book Test </button></a>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
{% endblock %}