{% extends 'header.html' %}
{% load static %}


{% block content %}
    <!-- Header -->
    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center" style="min-height: 100px; background-image: url({{uid.pic.url}}); background-size: cover; background-position: center top;">
      <!-- Mask -->
      
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        
        <div class="col-xl-8 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Add Test <i class="fa fa-edit"></i> </h3>
                </div>
                <h2 style="color: green; margin-left: 50px;">{{msg}}</h2>
                <div class="col-4 text-right">
                </div>
              </div>
            </div>
            <div class="card-body">
              <form action="{% url 'add-test' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">Test information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username"> Test Name</label>
                        <input type="text" id="input-username" name="name" class="form-control" placeholder=" Test Name" >
                      </div>
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Test Cost</label>
                        <input type="number" id="input-first-name" class="form-control" name="price" min="100" value="100" placeholder="Test Cost ..." required>
                      </div>
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Test Description</label>
                        <textarea name="des" class="form-control" placeholder="Test Des..." id="" cols="30" rows="10"></textarea>
                      </div>
                    </div>
                    
                  </div>
                </div>
                <!-- Address -->
                <div class="pl-lg-4">
                  
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <button type="submit" style="width: 100%;" class="btn btn-primary"><i class="fa fa-edit"></i> Add Test</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
                
            </div>
          </div>
        </div>
      </div>

      <script>
        $('#submit').click(function(){
          let data = {
            opassword : $('#opassword').val(),
            npassword : $('#npassword').val(),
            cpassword : $('#cpassword').val(),
            csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
          }

          $.ajax({
            url : "{% url 'change-password' %}",
            method : 'POST',
            data : data,

            success : function(response){
              // console.log(response.msg)
              alert(response.msg)
              $('#form2').reset()
            }
          })
        })
      </script>
      <!-- Footer -->
      {% endblock %}